@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Poppins', sans-serif;

    --cl-brand: rgb(192, 4, 7);
    --cl-dark-header: #222222;
    --cl-dark-maintext: #656565;
    --cl-dark-accent: #8C8C8C;
    --cl-light: #ffffff;
    --cl-dark: #000000;
    --cl-red: #d41443;
    --cl-pink: #ffa5ba;


    --bg-light: #ffffff;
    --bg-pink: #ffb8ca;
    --bg-lightpink: #fff5f6;
    --bg-red: #d41443;
    --bg-hover: #ecebeb;
    --bg-modal: #e17992;
    --bg-grey: #fafafa;
    --bg-border: #E1E1E1;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    font-size: 14px;
    letter-spacing: 0.04em;
}

.link {
    text-decoration: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--cl-dark-accent);
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-family: var(--font-secondary);
    color: var(--cl-dark-header);
    font-size: 34px;
    font-weight: 700;

}

h2 {
    font-family: var(--font-primary);
    font-size: 12px;
    text-transform: uppercase;
    color: var(--cl-brand);
}


h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}